<dependency-check>
    <dataDirectory>./data</dataDirectory>
    <outputDirectory>./dependency-check-report</outputDirectory>
    <scanDirectory>./</scanDirectory>
    <exclude>
        <path>bin/**</path>
        <path>obj/**</path>
        <path>wwwroot/**</path>
    </exclude>
    <dependency>
        <name>Microsoft.EntityFrameworkCore</name>
        <version>7.0.10</version>
    </dependency>
    <dependency>
        <name>Swashbuckle.AspNetCore</name>
        <version>6.5.0</version>
    </dependency>
    <dependency>
        <name>AutoMapper.Extensions.Microsoft.DependencyInjection</name>
        <version>12.0.1</version>
    </dependency>
</dependency-check>